{% extends "base.html" %}
{% block content %}

  <div id="form-container" role="presentational">

    <h2>Registration</h2>

    <form id="registration" method="post" action="{{ url_for('register') }}">
      <label for="username">Username:</label><br>
      <input type="text" name="username"><br><br>

      <label for="email">Email:</label><br>
      <input type="email" name="email"><br><br>

      <label form="password">Password:</label><br>
      <input type="password" name="password"><br><br>

      <label for="confirm-password">Confirm Password:</label><br>
      <input type="password" name="confirm-password"><br><br>

      <input type="submit" value="Submit">
    </form>
  </div>
{% endblock %}
